<div class="container-fluid blog-container">
  <div id="blog_section">

    <h1 class="text-center">
      <p><b>Welcome to All Users Blog Section</b></p>
      <div style="width: 100%;">
        <div id="blog_btn">
          <button id="add_blog" class="btn pull-right" routerLink="/blog">My Blog</button>
        </div>
      </div>
    </h1>

  </div>
  <div id="desktop_table_view" style="margin-top: 100px;">
    <table class="table table-bordered" cdk-table [dataSource]="dataSource">
      <ng-container cdkColumnDef="title">
        <th cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('title')"> Title</th>
        <td cdk-cell *cdkCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <ng-container cdkColumnDef="description">
        <th cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('description')"> Description</th>
        <td cdk-cell *cdkCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container cdkColumnDef="content">
        <th cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('content')"> Content
        </th>
        <td cdk-cell *cdkCellDef="let element"> {{element.content}} </td>
      </ng-container>


      <ng-container cdkColumnDef="username">
        <th cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('username')"> Username</th>
        <td cdk-cell *cdkCellDef="let element"> {{element.user.firstName}} </td>
      </ng-container>

      <ng-container cdkColumnDef="like">
        <th cdk-header-cell *cdkHeaderCellDef (click)="adjustSort('likes')"> Likes</th>
        <td cdk-cell *cdkCellDef="let element;let i=index"> <button class="btn tooltips" (click)="blogLike(element.id)"
            id="blog_like" [ngbTooltip]="userlikes"><i
              class="fa fa-thumbs-up"></i>
            Like({{element.likeItems.length}})</button>
          <ng-template #userlikes>
            <span *ngIf="element.likeItems.length>0;else nouserliked">
              <span *ngFor="let likeItem of element.likeItems">
                <span>
                  {{likeItem}}
                  <br>
                </span>
              </span>
            </span>

          </ng-template>
          <ng-template #nouserliked>No User Liked</ng-template>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="comment">
        <th cdk-header-cell *cdkHeaderCellDef> Comments </th>
        <td cdk-cell *cdkCellDef="let element;let i=index">
          <form id="form" class="form" [formGroup]="commentForm" (ngSubmit)="oncommentSubmit(element.id)">
            <div class="form-group">
              <textarea class="form-control" (keypress)="commentinput(i)" formControlName="comment" id="comments_text"
                cols="30" rows="5"></textarea>
            </div>
            <div>
              <ng-template #nousercomments>No User Commented</ng-template>
              <ng-template #usercomments>
                <span *ngIf="element.commentItems.length>0;else nousercomments">
                  <span *ngFor="let commentItem of element.commentItems">
                    <span>
                      {{commentItem.user.firstName}}<br>
                    </span>
                  </span>
                </span>
              </ng-template>
              <button class="btn tooltips2" type="button" (click)="commentModal(element.commentItems,commentsmodal)"
                 [ngbTooltip]="usercomments"
                id="blog_comments"><i class="fa fa-comments-o"></i>Comments({{element.commentItems.length}})</button>
              <button class="btn btn-danger" type="submit" value="submit"
                [disabled]="!(commentForm.valid && i == index)">Submit</button>
            </div>
          </form>

        </td>
      </ng-container>

      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="container-fluid" id="mobile_view_blogs">
    <div class="row" id="blog_table_section">
      <ng-container *ngFor="let blog of blogLists;let i =index">
        <div id="main-blog-section" class="col-md-12">

          <h3 id="blog-header"><a>{{blog.title}}</a></h3>

          <div>
            <span class="blog-username">{{blog.user.firstName}} </span>
            <span class="accordion pull-right" (click)="toggleAccordian($event, i)"></span>
            <div class="panel">
              <div id="tooltip-section">
                <button class="btn tooltips" (click)="blogLike(blog.id)"
                  ( id="blog_like" [ngbTooltip]="userlikes"><i
                    class="fa fa-thumbs-up"></i>
                  Like({{blog.likeItems.length}})</button>
                <ng-template #userlikes>
                  <span *ngIf="likeItems.length>0;else nouserliked">
                    <span *ngFor="let likeItem of likeItems">
                      <span>
                        {{likeItem.user.firstName}}
                        <br>
                      </span>
                    </span>
                  </span>
                </ng-template>
                <ng-template #nouserliked>No User Liked</ng-template>
              </div>

              <form id="form" class="form" [formGroup]="commentForm" (ngSubmit)="oncommentSubmit(blog.id)">
                <div class="form-group">
                  <textarea class="form-control" (keypress)="commentinput(i)" formControlName="comment"
                    id="comments_text" cols="30" rows="5"></textarea>
                </div>
                <div>
                  <ng-template #nousercomments>No User Commented</ng-template>
                  <ng-template #usercomments>
                    <span *ngIf="commentItems.length>0;else nousercomments">
                      <span *ngFor="let commentItem of commentItems">
                        <span>
                          {{commentItem.user.firstName}}<br>
                        </span>
                      </span>
                    </span>
                  </ng-template>
                  <button class="btn tooltips2" type="button" (click)="commentModal(blog.commentItems,commentsmodal)"
                   [ngbTooltip]="usercomments"
                    id="blog_comments"><i class="fa fa-comments-o"></i>Comments({{blog.commentItems.length}})</button>
                  <button class="btn btn-danger" type="submit" value="submit"
                    [disabled]="!(commentForm.valid && i == index)">Submit</button>
                </div>
              </form>
            </div>
          </div>


        </div>
      </ng-container>
    </div>
  </div>

  <ng-template #commentsmodal let-c="close" let-d="dismiss">
    <div *ngIf="commentItemLists">
      <div style="padding-top: 30px;padding-bottom: 15px;">
        <h4 class="modal-title text-center">Comments
          <a class="btn btn-danger" ngbAutofocus (click)="closeModal()"
            style="float: right;margin-right:10px">Cancel</a>
        </h4>
      </div>
      <div *ngIf="commentItemLists.length>0" style="min-height:500px;overflow-y:scroll;padding: 25px;">
        <table class="table table-striped">
          <tbody>
            <tr *ngFor="let comment of commentItemLists;let i = index">
              <td style="border:1px solid lightgray !important;">
                <p class="text-left">
                  {{comment.comment}}
                </p>
                <p>
                  <span class="pull-right">{{comment.user.firstName}}</span>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="commentItemLists.length==0">
        <h2 class="text-center">No Comments found</h2>
      </div>
    </div>

  </ng-template>


  <!-- <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
      <table id="table" class="table">
        <tbody>
          <tr *ngFor="let bl of blogLists;let i = index">
            <td>
              <p class="blog-title">{{bl.title}}</p>
              <p class="blog_desc">{{bl.description}}</p>
              <p class="blog_content">{{bl.content}}</p>
              <br>
              <button class="btn tooltips" (click)="blogLike(bl.id)" (mouseleave)="mouseleave()"
                (mouseenter)="getlikedusername(bl.likeItems,i)" id="blog_like"><i class="fa fa-thumbs-up"></i>
                Like({{bl.likeItems.length}})</button>

              <button class="btn tooltips2" (click)="commentModal(bl.commentItems,commentsmodal)" (mouseleave)="mouseleave()"
                (mouseenter)="getCommentUsernames(bl.commentItems,i)" id="blog_comments"><i
                  class="fa fa-comments-o"></i>Comments({{bl.commentItems.length}})</button>
              <br>
              <div *ngIf="index == i">
                <div class="tooltiptext" *ngIf="likeItems && show">
                  <span *ngFor="let likeItem of likeItems | sort">
                    <span>
                      {{likeItem}}
                      <br>
                    </span>
                  </span>
                </div>
                <div class="tooltiptext2" style="margin-left: 100px;" *ngIf="commentItems && showComments">
                  <span *ngFor="let commentItem of commentItems">
                    <span>
                      {{commentItem.user.firstName}}<br>
                    </span>
                  </span>
                </div>
              </div>
              <form id="form" class="form" [formGroup]="commentForm" (ngSubmit)="oncommentSubmit(bl.id)">
                <div class="form-group">
                  <label for="">Comments</label>
                  <textarea class="form-control" (keypress)="commentinput(i)" formControlName="comment" id="" cols="30"
                    rows="5"></textarea>
                </div>
                <div>
                  <button class="btn btn-danger" type="submit" value="submit"
                    [disabled]="!(commentForm.valid && i == index)">Submit</button>
                </div>
              </form>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #commentsmodal let-c="close" let-d="dismiss">
  <div *ngIf="commentItemLists">
    <div style="padding-top: 30px;padding-bottom: 15px;">
      <h4 class="modal-title text-center">Comments  
        <a class="btn btn-danger" ngbAutofocus (click)="closeModal()" style="float: right;margin-right:10px"
        >Cancel</a>
      </h4>
    </div>
    <div *ngIf="commentItemLists.length>0" style="min-height:500px;overflow-y:scroll;padding: 25px;">
      <table class="table table-striped">
        <tbody>
          <tr *ngFor="let comment of commentItemLists;let i = index">
            <td style="border:1px solid lightgray !important;">
              <p>
                {{comment.comment}}
              </p>
              <p>
                <span class="pull-right">{{comment.user.firstName}}</span>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="commentItemLists.length==0">
      <h2 class="text-center">No Comments found</h2>
    </div>
  </div>

</ng-template> -->